@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700);

.form-all {
	font-size:14px;
	color:#000;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
	background-repeat: no-repeat;
}

.form-line {
	/* Don't conver these into shorthand */
	padding-top:12px;
	padding-bottom:12px;
	padding-left:36px;
	padding-right:36px;
	margin:6px 0;
	width:100%;
	box-sizing: border-box;
}

.form-label-top,
.form-label-left,
.form-label-right {
	font-weight: bold;
	margin-bottom: 9px;
}

.form-label-right {
	margin-right:0;
	padding-right:15px;
	box-sizing:border-box;
}

.form-textbox,
.form-textarea,
.form-captcha input {
	padding: 3px;
	margin-left: 0;
	border: 1px solid #ccc;
	font-size: 1em; /*14px*/
	line-height: 1.071em; /*15px*/
	-moz-box-shadow: 0 1px 2px #eee inset;
	-webkit-box-shadw: 0 1px 2px #eee inset;
	box-shadow: 0 1px 2px #eee inset;
}
.form-spinner input {
	padding: 3px !important;
}

/*  special for payment stripe - credit card details*/
.stripe-payment-wrapper .form-textbox.cc_firstName,
.stripe-payment-wrapper .form-textbox.cc_lastName {
	color: #000 !important;
	height: 27px;
	font-size: 1em;
	padding: 0px 4px 0px 4px;
}
.form-textbox.cc_numberMount  {
	min-width: 155px;
}

.stripe-payment-wrapper .form-sub-label {
	white-space: nowrap;
}

.stripe-payment-wrapper .form-sub-label-container {
	width: 96% !important;
}

.stripe-payment-wrapper .form-sub-label-container input{
	width: 100%;
	box-sizing: border-box;
}

.stripe-payment-wrapper .form-textbox.cc_ccv,
.stripe-payment-wrapper .form-textbox.cc_ccvMount {
	width: 42px;
}

.stripe-payment-wrapper .form-textbox.cc_number,
.stripe-payment-wrapper .form-textbox.cc_ccv,
.stripe-payment-wrapper .form-textbox.cc_numberMount,
.stripe-payment-wrapper .form-textbox.cc_ccvMount,
.stripe-payment-wrapper .form-textbox.cc_cardExpiryMount {
	padding: 1px 4px 0px 4px;
	height: 29px;
	line-height: 25px !important;
	/*color: #7c7c7c !important;*/
	white-space: nowrap;
	box-sizing: border-box;
	font-size: 1em;
}
.stripe-payment-wrapper .form-textbox.cc_numberMount,
.stripe-payment-wrapper .form-textbox.cc_cardExpiryMount {
	min-width: 155px;
	width: 100%;
	box-sizing: border-box;
}

.stripe-payment-wrapper .payment-form-table td:first-child .form-sub-label-container {
	margin-left: 0!important;
}

.stripe-payment-wrapper input[data-component="paymentDonation"] {
	width: 155px;
}

.stripe-payment-wrapper hr {
	border: 0;
	border-top: 1px solid #CCC;
	margin-top: 20px;
}

/*  E.O. special for payment stripe - credit card details*/

/*  Special for paypalcomplete - credit and details*/

.paypalcomplete-payment-wrapper .form-textbox.cc_number,
.paypalcomplete-payment-wrapper .form-textbox.cc_ccv,
.paypalcomplete-payment-wrapper .form-textbox.cc_numberMount,
.paypalcomplete-payment-wrapper .form-textbox.cc_ccvMount,
.paypalcomplete-payment-wrapper .form-textbox.cc_cardExpiryMount {
	padding: 1px 4px 0px 4px;
	height: 29px;
	line-height: 25px !important;
	/*color: #7c7c7c !important;*/
	white-space: nowrap;
	box-sizing: border-box;
	font-size: 1em;
}
.paypalcomplete-payment-wrapper .form-textbox.cc_numberMount,
.paypalcomplete-payment-wrapperr .form-textbox.cc_cardExpiryMount {
	min-width: 155px;
	width: 100%;
	box-sizing: border-box;
}

/*  E.O. special for paypalcomplete - credit and details*/

.form-all .form-upload {
	border:none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.form-sub-label {
	font-size:0.786em; /*11px*/
	margin-top:3px;
}

.form-dropdown {
	padding: 2px;
	font-size:0.857em;/*12px*/

}

.form-radio,
.form-checkbox {
	vertical-align: top;
	margin-top: 4px;
}

.form-radio-item label,
.form-checkbox-item label,
.form-grading-label {
	font-size:1em; /*14px*/
	color:#000;
}
.form-radio-item,
.form-checkbox-item {
	margin-top:0;
	margin-bottom: 6px;
}

/* HEADING FIELD
------------------------------*/

.form-header-group {
	background: transparent; /* For overriding */
	border: none; /* For overriding */
	padding: 24px 0;
	margin: 12px 36px 18px;
	border-bottom: 1px solid #e3e3e3;
	border-top: 1px solid #e3e3e3;
}

.form-instruction-box {
	background: #666; /* For overriding */
	border: none; /* For overriding */
	padding: 10px 0;
	margin: 12px 36px 18px;
	border-bottom: 0px solid #e3e3e3;
	border-top: 0px solid #e3e3e3;
}

.form-instruction-box-2 {
	background: #666; /* For overriding */
	border: none; /* For overriding */
	padding: 10px 0;
	margin: 12px 36px 18px;
	border-bottom: 0px solid #e3e3e3;
	border-top: 0px solid #e3e3e3;
}

.form-instruction-box-quest {
	background: #666; /* For overriding */
	border: none; /* For overriding */
	padding: 10px 0;
	margin: 12px 36px 18px;
	border-bottom: 0px solid #e3e3e3;
	border-top: 0px solid #e3e3e3;
}

li:first-child .form-header-group,
.form-header-group + .form-header-group {
	border-top:0;
}

h1.form-header {
	font-size: 2.143em; /*30px*/
}

h2.form-header {
	font-size: 1.714em; /*24px*/
}

h3.form-header {
	font-size: 1.5em; /*21px*/
}

.form-header{
	color: #eeeeee;
}
.form-subHeader {
	border-top:none;
	font-size: 1.071em; /*15px*/
	line-height:1.5em;  /*21px*/
	font-style: normal;
	margin:3px 0 0;
}



/* BUTTONS
------------------------------*/

.form-pagebreak-back,
.form-pagebreak-next,
.qq-upload-button,
.form-submit-button,
.form-submit-preview,
.form-submit-reset,
.form-submit-print {
	border:1px solid #ccc;
	padding:6px 12px;
	color:#666;
	text-shadow:0 1px #fff;
	cursor:pointer;
	border-radius: 3px 3px;
	box-shadow: 0 1px #fff inset, 0 1px #ddd;

	background: #f5f5f5; /* Old browsers */
	background: -moz-linear-gradient(top,  #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f5f5f5 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(to top, #f5f5f5 0%, #eeeeee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}

.form-pagebreak-back:hover,
.form-pagebreak-next:hover,
.form-submit-button:hover,
.form-submit-preview:hover,
.qq-upload-button:hover,
.form-submit-reset:hover,
.form-submit-print:hover {
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f5f5f5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%);
	background: linear-gradient(top,  #ffffff 0%,#f5f5f5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 );
}

.form-pagebreak-back:active,
.form-pagebreak-next:active,
.form-submit-button:active,
.form-submit-preview:active,
.qq-upload-button:active,
.form-submit-reset:active,
.form-submit-print:active {
	background: #eeeeee;
	background: -moz-linear-gradient(top,  #eeeeee 0%, #f5f5f5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#f5f5f5));
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#f5f5f5 100%);
	background: -o-linear-gradient(top,  #eeeeee 0%,#f5f5f5 100%);
	background: -ms-linear-gradient(top,  #eeeeee 0%,#f5f5f5 100%);
	background: linear-gradient(top,  #eeeeee 0%,#f5f5f5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#f5f5f5',GradientType=0 );

	-moz-box-shadow: 0 1px #fff inset;
	-webkit-box-shadow: 0 1px #fff inset;
	box-shadow: 0 1px #fff inset;
}

.form-submit-button,
.form-submit-reset,
.form-submit-preview,
.form-submit-print {
	color:#333;
	font-size:1em; /*14px*/
	margin-top:12px;
	margin-bottom:12px;
}

.form-submit-reset,
.form-submit-preview,
.form-submit-print {
	font-size:0.857em; /*12px*/
	padding:4px 8px;
}

.form-submit-print img {
	margin:-4px 3px 0 -7px;
}

.form-submit-preview img {
	margin-right: 8px;
	width: 16px;
	height: 16px;
}

.form-buttons-wrapper button,
.form-submit-preview * {
	vertical-align: middle;
}

.qq-upload-button {
	padding:8px 0;

	-moz-border-radius: 6px 6px;
	-webkit-border-radius: 6px 6px;
	border-radius: 6px 6px;
}


/* Phone areaCode & Phone Number in the payment field
------------------------------*/
li:not([data-type="control_phone"]) input[data-component="areaCode"] {
	width: 30px;
}

li:not([data-type="control_phone"]) input[data-component="phone"] {
	width: 83px;
}



/* ERROR MESSAGES
------------------------------*/

.form-line-error {
	background: #fff4f4;
}


.form-line-error div.form-error-message {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color:#FF4E5D;
	color:#fff;
	padding: 5px;
	box-sizing: border-box;
}

li.form-line-error .form-error-message img {
	margin: 0 8px 0 3px;
	width: 20px;
	height: 20px;
}

.form-line-error div.form-error-message .form-error-arrow {
	border-bottom-color: #FF4E5D;
}

.form-error-arrow-inner {
	display: none;
}



/* SURVEY TOOLS
------------------------------*/

/*----- Matrix Field -----*/

.form-matrix-row-headers {
    font-size: 1.250em; /*11px*/
	font-weight: bold;
}

.form-matrix-table {
	font-size: 1.000em;
}

.form-matrix-column-headers {
	font-size:0.786em; /*11px*/
	font-weight: normal;
	/*color:#444;*/
}

.form-scale-table th,
.form-scale-table td {
	padding:9px 6px;
}

.form-scale-table label {
	/*color:#666;*/
}

.form-grading-item {
    margin-bottom: 6px;
}

.form-matrix-head {
	font-size: 1.350em;
	font-weight: bold;
}

/*----- Form Collapse -----*/

.form-collapse-table {
	margin: 0 36px;
	border:1px solid #ccc;
	cursor:pointer;

	-moz-border-radius: 3px 3px;
	-webkit-border-radius: 3px 3px;
	border-radius: 3px 3px;

	-moz-box-shadow: 0 1px #fff inset, 0 1px #ddd;
	-webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
	box-shadow: 0 1px #fff inset, 0 1px #ddd;

	background: #f5f5f5; /* Old browsers */
	background: -moz-linear-gradient(top,  #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f5f5f5 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(top,  #f5f5f5 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}

.form-collapse-table:hover {
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f5f5f5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%);
	background: linear-gradient(top,  #ffffff 0%,#f5f5f5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 );
}

.form-collapse-table:active {
	background: #eeeeee;
	background: -moz-linear-gradient(top,  #eeeeee 0%, #f5f5f5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#f5f5f5));
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#f5f5f5 100%);
	background: -o-linear-gradient(top,  #eeeeee 0%,#f5f5f5 100%);
	background: -ms-linear-gradient(top,  #eeeeee 0%,#f5f5f5 100%);
	background: linear-gradient(top,  #eeeeee 0%,#f5f5f5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#f5f5f5',GradientType=0 );

	-moz-box-shadow: 0 1px #fff inset;
	-webkit-box-shadow: 0 1px #fff inset;
	box-shadow: 0 1px #fff inset;
}

/*----- Page Break Field -----*/

.form-pagebreak {
	margin:0 36px;
	border-top:1px solid #e3e3e3;
	background:transparent;
	height: auto;
	overflow: hidden;
}

.form-pagebreak-back-container {
	padding:24px 3px 24px 0;
}

.form-pagebreak-next-container {
	padding:24px 0 24px 3px;
}

.form-pagebreak-next {
	margin-left: 0;
}



/* PAYMENT FIELDS
------------------------------*/

.form-product-item {
	padding:6px;
	overflow:hidden;
	margin: 0 0 9px;

	-moz-border-radius: 6px 6px;
	-webkit-border-radius: 6px 6px;
	border-radius: 6px 6px;

	width: 100%;
}

.hover-product-item:hover {
	background:none;
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19969696,endColorstr=#19969696);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19969696,endColorstr=#19969696);
	zoom: 1;
	background: rgba(150,150,150,0.1);
}

.form-product-item br + br {
	display: none;
}

.form-product-item img {
	display:block;
	position: static;
	margin: 0 12px 0 0;
	float:left;

	-moz-border-radius: 3px 3px;
	-webkit-border-radius: 3px 3px;
	border-radius: 3px 3px;
}

.form-product-item .form-sub-label-container {
	margin: 9px 15px 0 0;
}

.form-product-item .form-sub-label-container:last-of-type {
	margin: 9px 0 0 0;
}

.form-product-name {
	font-size: 15px;
}

.form-product-container {
	margin-bottom: 6px;
	display: inline;
	width: 94%;
	width: calc(100% - 20px);
}

#app .form-product-container {
	margin: 0 0 6px 4px;
}

.form-product-item .form-sub-label {
	display: inline;
	height: 25px;
	vertical-align: top;
	margin-right: 6px;
	line-height: 24px;
	font-size: 12px;
}

.form-product-item > .form-product-item-detail {
	position: static;
	float: left;
	width: 100%;
}

.form-product-item > img + .form-product-item-detail {
	position: static;
	float: left;
	width: 84%;
	width: calc(100% - 66px);
}


.form-product-item .form-dropdown { height: 25px; }

.form-product-details { font-size:0.857em; /*12px*/}
.form-payment-total b > span > span > span,
.form-product-details b > span > span {
	margin-left: -3px;
}

.app .form-payment-total b > span > span > span,
.app .form-product-details b > span > span {
	margin-left: 0;
}

.app .form-product-details {
	margin-left: 5px;
}
/* Subscription */

.form-product-item .form-radio,
.form-product-item .form-checkbox {
	margin-right: 2px;
}


/* SHRINK & TO NEW LINE
------------------------------*/

.form-line-column {
    clear: none;
    float: left;
    width: auto;
    max-width: 100%; /*ie-11 fix*/
}

.form-line-column-clear {
	clear:left;
	width:auto;
    max-width: 100%; /*ie-11 fix*/
}

.form-line[data-type="control_matrix"] { overflow-x: auto; }

.form-line[data-type="control_matrix"] [class*="form-input"] { width:100%; }

/* ------------- */
/* MEDIA QUERIES */
/* ------------- */
@media screen and (max-width: 480px),
			 screen and (max-device-width: 768px) and (orientation: portrait),
			 screen and (max-device-width: 415px) and (orientation: landscape) {

	/* User defined amount width */
	input[id*="_donation"] {
            width: 25% !important;
	}
        th.form-matrix-column-headers {
            min-width: 75px;
        }
}

table.form-matrix-table-liked {
  font-family: Georgia, serif;
  border: 0px solid #000000;
  background-color: #333333;
  width: 30%;
  text-align: left;
}
table.form-matrix-table-liked td, table.form-matrix-table-liked th {
}
table.form-matrix-table-liked thead {
  }

  /*______for the star image______*/
    .radio_item{
    display: none !important;
    }

    .label_item {
    opacity: 0.4;
    }

    .radio_item:checked + label {
    opacity: 5;
    }

	/* for the + add to watchlist button
	.check_item {
		 display: none !important;
	}

    .check_item:checked + label {
    opacity: 5;
    }*/
	/* hover effect

	 */
h1 {
	font-family: 'Roboto Condensed', sans-serif;
	color: #FFF;
	font-size: 2.3em;
}

em {
	color: #232027;
}

.wrapper {
	width: 40%;
	margin: 40px auto;
}

div.alert {
	position:inherit;top:0;right:0;padding:.75rem 1.25rem;color:#fcc932;
	background-color: #666;
}

div.gallery {
	margin-top: 30px;
}

div.get_button_center {
	text-align:justify;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}

div.gallery ul {
	list-style-type: none;
	margin-left: 35px;
}

/* animation */
div.gallery ul li, div.gallery li img {
	-webkit-transition: all 0.1s ease-in-out;
  	-moz-transition: all 0.1s ease-in-out;
  	-o-transition: all 0.1s ease-in-out;
  	transition: all 0.1s ease-in-out;
}

div.gallery ul li {
	position: relative;
	float: left;
	width: 130px;
	height: 130px;
	margin: 5px;
	padding: 5px;
	z-index: 0;
}

/* Make sure z-index is higher on hover */
/* Ensure that hover image overlapped the others */
div.gallery ul li:hover {
	z-index: 5;
}

/* Image is position nicely under li */
div.gallery ul li img {
	position: absolute;
	left: 0;
	top: 0;
	border: 1px solid #dddddd;
	padding: 5px;
	width: 130px;
	height: 130px;
	background: #f0f0f0;
}

div.gallery ul li img:hover {
	width: 200px;
	height: 200px;
	margin-top: -130px;
	margin-left: -130px;
	top: 65%;
	left: 65%;
}

p.attribution {
	font-family: 'Consolas';
	color: #000;
	clear: both;
	text-align: center;
	line-height: 25px;
	padding-top: 30px;
}

p.attribution a {
	color: #4c8d7c;
}

/* Responsive hack */
@media only screen and (min-width: 499px) and (max-width: 1212px) {
	.wrapper {
		width: 500px;
	}
}

@media only screen and (max-width: 498px) {
	.wrapper {
		width: 300px;
	}

	div.gallery ul {
		list-style-type: none;
		margin: 0;
	}
}
/*
buttons
<a href="#" class="myButton">Submit</a>
 */
.Start {
	box-shadow: 0px 10px 14px -7px #3dc21b;
	background-color:#44c767;
	border-radius:4px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:21px;
	font-weight:bold;
	padding:12px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.Start:hover {
	background-color:#5cbf2a;
}
.Start:active {
	position:relative;
	top:1px;
}


.Next {
	box-shadow: 0px 10px 14px -7px #3dc21b;
	background-color:#44c767;
	border-radius:4px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:21px;
	font-weight:bold;
	padding:12px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.Next:hover {
	background-color:#68a54b;
}
.Next:active {
	position:relative;
	top:1px;
}

.Submit {
	box-shadow: 0px 10px 14px -7px #3dc21b;
	background-color:#44c767;
	border-radius:4px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:21px;
	font-weight:bold;
	padding:12px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.Submit:hover {
	background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
	background-color:#68a54b;
}
.Submit:active {
	position:relative;
	top:1px;
}

a:link {
  text-decoration: underline;
  color: white;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

/* for special checkbox and radiobuttons
 */
.cbx {
  position: relative;
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  background-color: #606062;
  background-image: linear-gradient(#474749, #606062);
  box-shadow: inset 0 1px 1px rgba(255,255,255,0.15), inset 0 -1px 1px rgba(0,0,0,0.15);
  transition: all 0.15s ease;
}
.cbx svg {
  position: absolute;
  top: 3px;
  left: 3px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 17;
  stroke-dashoffset: 17;
  transform: translate3d(0, 0, 0);
}
.rdo {
  position: relative;
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  background-color: #606062;
  background-image: linear-gradient(#474749, #606062);
  box-shadow: inset 0 1px 1px rgba(255,255,255,0.15), inset 0 -1px 1px rgba(0,0,0,0.15);
  transition: all 0.15s ease;
}
.rdo:after {
  content: "";
  position: absolute;
  display: block;
  top: 6px;
  left: 6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  opacity: 0;
  transform: scale(0);
}
.cbx + span,
.rdo + span {
  float: left;
  margin-left: 6px;
}
.forms {
  margin: auto;
  user-select: none;
}
.forms label {
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}
.forms input[type="checkbox"],
.forms input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.forms input[type="radio"]:checked + .rdo {
  background-color: #606062;
  background-image: linear-gradient(#255cd2, #1d52c1);
}
.forms input[type="radio"]:checked + .rdo:after {
  opacity: 1;
  transform: scale(1);
  transition: all 0.15s ease;
}
.forms input[type="checkbox"]:checked + .cbx {
  background-color: #606062;
  background-image: linear-gradient(#255cd2, #1d52c1);
}
.forms input[type="checkbox"]:checked + .cbx svg {
  stroke-dashoffset: 0;
  transition: all 0.15s ease;
}

textarea
{
   font-family:"Lato", sans-serif;
   font-size: 12px;
}

.no-bullets {
    list-style-type: none;
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}