<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html class="supernova"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="alternate" type="application/json+oembed" href="https://www.jotform.com/oembed/?format=json&amp;url=http%3A%2F%2Fwww.jotform.com%2Fform%2F200006188570347" title="oEmbed Form"><link rel="alternate" type="text/xml+oembed" href="https://www.jotform.com/oembed/?format=xml&amp;url=http%3A%2F%2Fwww.jotform.com%2Fform%2F200006188570347" title="oEmbed Form">
<meta property="og:title" content="MovieSurvey" >
<meta property="og:url" content="https://form.jotform.com/200006188570347" >
<meta property="og:description" content="Please click the link to complete this form.">
<meta name="slack-app-id" content="AHNMASS8M">
<link rel="shortcut icon" href="https://cdn.jotfor.ms/favicon.ico">
<link rel="canonical" href="https://form.jotform.com/200006188570347" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1" />
<meta name="HandheldFriendly" content="true" />
<title>MovieSurvey</title>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='formCSS.css') }}" />
<link type="text/css" media="print" rel="stylesheet" href="{{ url_for('static', filename='printForm.css') }}" />
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='nova.css') }}" />
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='form.css') }}"/>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='poll_style.css') }}" />
<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/buttons/form-submit-button-simple_grey.css?3.3.14737"/>
</head>
<body>
<h1><font color="white">Thank you for participating in this study</font></h1>
<font color="white"><h2>Output</h2></font>
<font color="white"><p>{{ message }}</p> <font size="13"> <a style="color: white" href="http://127.0.0.1:5000/get_survey">here</a></font>
<p>{{ entry }}</p>
<p>{{ links }}</p><font size="13"><a style="color: white" href="http://127.0.0.1:5000/generate_files">here</a></font>
<p> CSV/XLSX Files will be located in root folder of the project</p></font>
</body>
</body>
</html>
