<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html class="supernova"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="alternate" type="application/json+oembed" href="https://www.jotform.com/oembed/?format=json&amp;url=http%3A%2F%2Fwww.jotform.com%2Fform%2F200006188570347" title="oEmbed Form"><link rel="alternate" type="text/xml+oembed" href="https://www.jotform.com/oembed/?format=xml&amp;url=http%3A%2F%2Fwww.jotform.com%2Fform%2F200006188570347" title="oEmbed Form">
<meta property="og:title" content="MovieSurvey" >
<meta property="og:url" content="https://form.jotform.com/200006188570347" >
<meta property="og:description" content="Please click the link to complete this form.">
<meta name="slack-app-id" content="AHNMASS8M">
<link rel="shortcut icon" href="https://cdn.jotfor.ms/favicon.ico">
<link rel="canonical" href="https://form.jotform.com/200006188570347" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1" />
<meta name="HandheldFriendly" content="true" />
<title>MovieSurvey</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='formCSS.css') }}" />
<link type="text/css" media="print" rel="stylesheet" href="{{ url_for('static', filename='printForm.css') }}" />
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='nova.css') }}" />
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='form.css') }}"/>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='poll_style.css') }}" />
<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/buttons/form-submit-button-simple_grey.css?3.3.14737"/>
</head>
<body>
<form class="myForm" method="POST" enctype="application/x-www-form-urlencoded" action="{{ url_for('pref_movies') }}">
 <input type="hidden" name="formID" value="200006188570347" />
  <input type="hidden" id="JWTContainer" value="" />
  <input type="hidden" id="cardinalOrderNumber" value="" />


<div role="main" class="form-all">
      <li id="cid_13" class="form-input-wide" data-type="control_head">
        <div class="form-header-group ">
          <div class="header-text httal htvam">
            <h2 id="header_13" class="form-header" data-component="header">
              Tell us which movie you like
            </h2>
          </div>
        </div>
      </li>
    <div class="form-instruction-box">
      <li class="form-line" data-type="control_text" id="id_18">
        <div id="cid_18" class="form-input-wide">
          <div id="text_18" class="form-html" data-component="text">
            <ul>
                <li>Below, you find a selection of 25 movies. You might know at least some of them. </li>
                 <li><p>For those you have seen, please let us know if you liked them.</li>
                <li>Rate as many movies as you like.</li>

                  <li><p>To activate your rating, select the appropriate thumb symbols </li>
                    <ul class="no-bullets">
                        <li ><img src=" {{url_for('static', filename='thumbs_up.png')}}" height="40" width="40" alt="Like">     -   Like</li>
                        <li><img src=" {{url_for('static', filename='thumbs_medium.png')}}" height="40" width="40" alt="neutral">  -  Neutral</li>
                        <li><img src=" {{url_for('static', filename='thumbs_down.png')}}" height="40" width="40" alt="Dislike">  -   Dislike</li>
                 </ul>
           </ul>
                          {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert">
                <span>{{ message }}</span>
            </div>
              {% endfor %}
            {% endif %}
        {% endwith %}
          </div>


        </div>
      </li>
    </div>
		<div class="gallery">
            <table summary="" cellPadding="4" cellSpacing="0" class="form-matrix-table" data-component="matrix">
        <tbody>
              <tr>
          {% for o in movie %}
              <th scope="row" style="text-align:center" class="form-matrix-row-headers">
              <img src="{{ o.cover_link }}" height="150" width="100" alt="">
              </th>
              <td style="text-align:center">
                  <label> <h3 style="text-align: center">{{ o.title }} </h3></label>
                   <p>{{ o.description }} </p>
                  <p><b>Writers:</b> {{ o.writers }} <b>   Genres:   </b> {{ o.genre }}</p>
                        <p><b> Stars: </b> {{ o.stars }} </p>
              </td>
                <td style="text-align:center" class="form-matrix-values">
                    <input type="radio" class="radio_item" value="Like" name="q_pref_movies[{{ o.number }}]" id="input_20_{{ o.number }}_1">
                         <label class="label_item" for="input_20_{{ o.number }}_1"> <img src=" {{url_for('static', filename='thumbs_up.png')}}" height="55" width="55" alt="Like"> </label>
                </td>
                <td style="text-align:center" class="form-matrix-values">
                    <input type="radio" class="radio_item" value="Neutral" name="q_pref_movies[{{ o.number }}]" id="input_20_{{ o.number }}_2">
                         <label class="label_item" for="input_20_{{ o.number }}_2"> <img src=" {{url_for('static', filename='thumbs_medium.png')}}" height="55" width="55" alt="neutral"> </label>
                </td>
              <td style="text-align:center" class="form-matrix-values">
                    <input type="radio" class="radio_item" value="Dislike" name="q_pref_movies[{{ o.number }}]" id="input_20_{{ o.number }}_3">
                         <label class="label_item" for="input_20_{{ o.number }}_3"> <img src=" {{url_for('static', filename='thumbs_down.png')}}" height="55" width="55" alt="Dislike"> </label>
                </td>

            </tr>
          {% endfor %}
        </tbody>
        </table>
        </div>

      <li id="cid_9" class="form-input-wide" data-type="control_pagebreak">
        <div class="form-pagebreak" data-component="pagebreak">
          <div class="form-pagebreak-next-container">
             <button class="Start">
              Next
             </button>
          </div>
          <div style="clear:both" class="pageInfo form-sub-label" id="pageInfo_9">
          </div>
        </div>
      </li>
    </ul>

</div>


</form>
</body>
</html>