<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html class="supernova"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="alternate" type="application/json+oembed" href="https://www.jotform.com/oembed/?format=json&amp;url=http%3A%2F%2Fwww.jotform.com%2Fform%2F200006188570347" title="oEmbed Form"><link rel="alternate" type="text/xml+oembed" href="https://www.jotform.com/oembed/?format=xml&amp;url=http%3A%2F%2Fwww.jotform.com%2Fform%2F200006188570347" title="oEmbed Form">
<meta property="og:title" content="Movie-Poll" >
<meta property="og:url" content="https://form.jotform.com/200006188570347" >
<meta property="og:description" content="Please click the link to complete this form.">
<meta name="slack-app-id" content="AHNMASS8M">
<link rel="shortcut icon" href="https://cdn.jotfor.ms/favicon.ico">
<link rel="canonical" href="https://form.jotform.com/200006188570347" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1" />
<meta name="HandheldFriendly" content="true" />
<title>MovieStudy</title>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='formCSS.css') }}" />
<link type="text/css" media="print" rel="stylesheet" href="{{ url_for('static', filename='printForm.css') }}" />
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='nova.css') }}" />
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='form.css') }}"/>
    <link rel=stylesheet type=
            text/css href="{{ url_for('static', filename='poll_style.css') }}" />
<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/buttons/form-submit-button-simple_grey.css?3.3.14737"/>
</head>
<body>
  <input type="hidden" name="formID" value="200006188570347" />
  <input type="hidden" id="JWTContainer" value="" />
  <input type="hidden" id="cardinalOrderNumber" value="" />

<form class="myForm" method="POST" enctype="application/x-www-form-urlencoded" action="{{ url_for('questionnaire') }}">
  <div role="main" class="form-all">
      <li id="cid_13" class="form-input-wide" data-type="control_head">
        <div class="form-header-group ">
          <div class="header-text httal htvam">
            <h2 id="header_13" class="form-header" data-component="header">
              Finally, a brief little survey.
            </h2>
              <p>Questions about the recommended movies <b>(still under construction)</b>
              </p>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_radio" id="id_26">
        <label class="form-label form-label-top" id="label_26" for="input_26"> Questions </label>
        <div id="cid_26" class="form-input-wide">
<table class="questionnaire">
  <tr>
    <th class="questionnaire-g1fv"></th>
    <th class="questionnaire-aaj5">Completely disagree<br>(1)<br></th>
    <th class="questionnaire-aaj5">(2)<br></th>
    <th class="questionnaire-aaj5"><br>(3)<br></th>
    <th class="questionnaire-aaj5"><br>(4)</th>
    <th class="questionnaire-aaj5"><br>(5)</th>
    <th class="questionnaire-aaj5"><br>(6)</th>
    <th class="questionnaire-aaj5">Completely agree<br>(7)</th>
  </tr>
    {% for q in questions %}
  <tr>
    <td class="questionnaire-g1fv"> {{ q.question }}</td>
    <td class="questionnaire-g1fv"><input type="radio" class="form-radio" id="input_{{ q.number }}_1" name="q_survey_{{ q.number }}" value="1"></td>
    <td class="questionnaire-g1fv"><input type="radio" class="form-radio" id="input_{{ q.number }}_2" name="q_survey_{{ q.number }}" value="2"></td>
    <td class="questionnaire-g1fv"><input type="radio" class="form-radio" id="input_{{ q.number }}_3" name="q_survey_{{ q.number }}" value="3"></td>
    <td class="questionnaire-g1fv"><input type="radio" class="form-radio" id="input_{{ q.number }}_4" name="q_survey_{{ q.number }}" value="4"></td>
    <td class="questionnaire-g1fv"><input type="radio" class="form-radio" id="input_{{ q.number }}_5" name="q_survey_{{ q.number }}" value="5"></td>
    <td class="questionnaire-g1fv"><input type="radio" class="form-radio" id="input_{{ q.number }}_6" name="q_survey_{{ q.number }}" value="6"></td>
    <td class="questionnaire-g1fv"><input type="radio" class="form-radio" id="input_{{ q.number }}_7" name="q_survey__{{ q.number }}" value="7"></td>
  </tr>
    {% endfor %}
</table>
        </div>
      <br>
      <h2 id="header-14" class="form-header" data-component="header" >
          Questions About You
      </h2>

  <li class="form-line" data-type="control_radio" id="id_26">
        <label class="form-label form-label-top" id="label_26" for="input_26"> </label>
        <div id="cid_26" class="form-input-wide">
<table class="questionnaire">
  <tr>
    <th class="questionnaire-g1fv"></th>
    <th class="questionnaire-aaj5">Completely disagree<br>(1)<br></th>
    <th class="questionnaire-aaj5">(2)<br></th>
    <th class="questionnaire-aaj5"><br>(3)<br></th>
    <th class="questionnaire-aaj5"><br>(4)</th>
    <th class="questionnaire-aaj5"><br>(5)</th>
    <th class="questionnaire-aaj5"><br>(6)</th>
    <th class="questionnaire-aaj5">Completely agree<br>(7)</th>
  </tr>
    {% for q in questions_pers %}
  <tr>
    <td class="questionnaire-g1fv"> {{ q.question }}</td>
    <td class="questionnaire-g1fv"><input type="radio" class="form-radio" id="input_{{ q.number }}_1" name="q_survey_{{ q.number }}" value="1"></td>
    <td class="questionnaire-g1fv"><input type="radio" class="form-radio" id="input_{{ q.number }}_2" name="q_survey_{{ q.number }}" value="2"></td>
    <td class="questionnaire-g1fv"><input type="radio" class="form-radio" id="input_{{ q.number }}_3" name="q_survey_{{ q.number }}" value="3"></td>
    <td class="questionnaire-g1fv"><input type="radio" class="form-radio" id="input_{{ q.number }}_4" name="q_survey_{{ q.number }}" value="4"></td>
    <td class="questionnaire-g1fv"><input type="radio" class="form-radio" id="input_{{ q.number }}_5" name="q_survey_{{ q.number }}" value="5"></td>
    <td class="questionnaire-g1fv"><input type="radio" class="form-radio" id="input_{{ q.number }}_6" name="q_survey_{{ q.number }}" value="6"></td>
    <td class="questionnaire-g1fv"><input type="radio" class="form-radio" id="input_{{ q.number }}_7" name="q_survey__{{ q.number }}" value="7"></td>
  </tr>
    {% endfor %}
</table>
      <li id="cid_16" class="form-input-wide" data-type="control_pagebreak">
        <div class="form-pagebreak" data-component="pagebreak">
          <div class="form-pagebreak-next-container">
             <button class="Start">
              Next
             </button>
          </div></div>
          </div>
          <div style="clear:both" class="pageInfo form-sub-label" id="pageInfo_16">
          </div>
        </div>
      </li>
    </ul>
      </div>
</form>
</body>
</html>