<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html class="supernova"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="alternate" type="application/json+oembed" href="https://www.jotform.com/oembed/?format=json&amp;url=http%3A%2F%2Fwww.jotform.com%2Fform%2F200006188570347" title="oEmbed Form"><link rel="alternate" type="text/xml+oembed" href="https://www.jotform.com/oembed/?format=xml&amp;url=http%3A%2F%2Fwww.jotform.com%2Fform%2F200006188570347" title="oEmbed Form">
<meta property="og:title" content="Movie-Poll" >
<meta property="og:url" content="https://form.jotform.com/200006188570347" >
<meta property="og:description" content="Please click the link to complete this form.">
<meta name="slack-app-id" content="AHNMASS8M">
<link rel="shortcut icon" href="https://cdn.jotfor.ms/favicon.ico">
<link rel="canonical" href="https://form.jotform.com/200006188570347" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1" />
<meta name="HandheldFriendly" content="true" />
<title>MovieStudy</title>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='formCSS.css') }}" />
<link type="text/css" media="print" rel="stylesheet" href="{{ url_for('static', filename='printForm.css') }}" />
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='nova.css') }}" />
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='form.css') }}"/>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='poll_style.css') }}" />
<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/buttons/form-submit-button-simple_grey.css?3.3.14737"/>
</head>
<body>
<form class="myForm" method="POST" enctype="application/x-www-form-urlencoded" action="{{ url_for('rec_movies_2') }}">
    <fieldset>
 <input type="hidden" name="formID" value="200006188570347" />
  <input type="hidden" id="JWTContainer" value="" />
  <input type="hidden" id="cardinalOrderNumber" value="" />

  <div role="main" class="form-all">
      <li id="cid_13" class="form-input-wide" data-type="control_head">
        <div class="form-header-group ">
          <div class="header-text httal htvam">
            <h2 id="header_13" class="form-header" data-component="header">
              Recommended Movies
            </h2>
          </div>
        </div>
      </li>

      <li class="form-line form-line-column form-col-1" data-type="control_text" id="id_21">
        <div id="cid_21" class="form-input-wide">
          <div id="text_21" class="form-html" data-component="text">
              <h4>Instruction</h4>
              <p></p>
            <ul>
                <li>For movies you like <b>hit the checkbox</b> 'Add to Watchlist'</b>.</li>
                <li><b>Pick one</b> movie as 'Next Movie to Watch'</li>
                <br>
            </ul>
              <p><b>You liked:</b> </p>
                <table class="form-matrix-table-liked">
                    <tbody>
                        <tr>
                            {% for n in user_pref %}
                        <td> <img src="{{ n.cover_link }}" height="360" width="240"> </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
          </div>
        </div>
      </li>


      <li class="form-line jf-required" data-type="control_matrix" id="id_20">
        <label class="form-label form-label-top" id="label_20" for="input_20">
          <span class="form-required">
          </span>
        </label>
        <div id="cid_20" class="form-input-wide jf-required">
        <table summary="" cellPadding="4" cellSpacing="0" class="form-matrix-table" data-component="matrix">
        <tbody>
              <tr>
          {% for o in movie %}
              <th scope="row" style="text-align:center" class="form-matrix-row-headers">
              <img src="{{ o.cover_link }}" height="360" width="240" alt="" border="2" align="center" hspace="10" vspace="0">
              </th>
              <td style="text-align:center">
                  <label> <h2 style="text-align: center;">{{ o.title }} </h2></label>
                    <p>{{ o.description }} </p>
                    <p><b>Writers:</b> {{ o.writers }} </p>
                    <p><b>Stars:</b> {{ o.stars }} </p>
                    <p><b>Genres:</b> {{ o.genre }} </p>
              </td>
              <td style="text-align:center" class="form-matrix-values">
                  <p> <b>Trailer:</b> </p>
                  <a target="_blank" rel="noopener noreferrer" href="{{ o.trailer_link }}"><img src=" {{url_for('static', filename='imdb.png')}}" height="80" width="80"></a></td>
              <td>
              <div class="forms">
                <label for="cbk_{{ o.number }}">
                    <span>Add to Watchlist</span>
                    <br>
                    <br>
                    <br>
                    <input type="checkbox" id="cbk_{{ o.number }}" value="{{ o.title }}" name="q_Watchlist">
                    <span class="cbx">
                            <svg width="12px" height="12px" viewBox="0 0 12 11" >
                                <polyline points="1 6.29411765 4.5 10 11 1"></polyline>
                    </svg>
                    </span>
                </label>
              </div>
              </td>
                            <td>
                      <div class="forms">
                                <label for="input_20_1_{{ o.title }}">
                                <span>Next Movie to Watch</span>
                                    <br>
                                    <br>
                                <input type="radio" value="{{ o.title }}" name="q23_bestRecommended" id="input_20_1_{{ o.title }}">
                                <span class="rdo"></span>
                            </label>
                      </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
        </table>

      <li id="cid_15" class="form-input-wide" data-type="control_pagebreak">
        <div class="form-pagebreak" data-component="pagebreak">
          <div class="form-pagebreak-next-container">
             <button class="Start">
              Next
             </button>
          </div>
          <div style="clear:both" class="pageInfo form-sub-label" id="pageInfo_15">
          </div>
        </div>
      </li>
    </ul>
  </div>
</fieldset>
</form>
</body>
</html></title>
</head>
</html>