<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html class="supernova"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="alternate" type="application/json+oembed" href="https://www.jotform.com/oembed/?format=json&amp;url=http%3A%2F%2Fwww.jotform.com%2Fform%2F200006188570347" title="oEmbed Form"><link rel="alternate" type="text/xml+oembed" href="https://www.jotform.com/oembed/?format=xml&amp;url=http%3A%2F%2Fwww.jotform.com%2Fform%2F200006188570347" title="oEmbed Form">
<meta property="og:title" content="MovieSurvey" >
<meta property="og:url" content="https://form.jotform.com/200006188570347" >
<meta property="og:description" content="Please click the link to complete this form.">
<meta name="slack-app-id" content="AHNMASS8M">
<link rel="shortcut icon" href="https://cdn.jotfor.ms/favicon.ico">
<link rel="canonical" href="https://form.jotform.com/200006188570347" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1" />
<meta name="HandheldFriendly" content="true" />
<title>MovieSurvey</title>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='formCSS.css') }}" />
<link type="text/css" media="print" rel="stylesheet" href="{{ url_for('static', filename='printForm.css') }}" />
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='nova.css') }}" />
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='form.css') }}"/>
<style>
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #006400;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
</style>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='poll_style.css') }}" />
<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/buttons/form-submit-button-simple_grey.css?3.3.14737"/>
</head>
<body>
<form class="myForm" method="POST" enctype="application/x-www-form-urlencoded" action="{{ url_for('rec_movies_2') }}">
    <fieldset>
 <input type="hidden" name="formID" value="200006188570347" />
  <input type="hidden" id="JWTContainer" value="" />
  <input type="hidden" id="cardinalOrderNumber" value="" />

  <div role="main" class="form-all">
      <li id="cid_13" class="form-input-wide" data-type="control_head">
        <div class="form-header-group ">
          <div class="header-text httal htvam">
            <h2 id="header_13" class="form-header" data-component="header">
              Our recommendations
            </h2>
          </div>
        </div>
      </li>

    <div class="form-instruction-box-2">
      <li class="form-line" data-type="control_text" id="id_18">
        <div id="cid_18" class="form-input-wide">
          <div id="text_18" class="form-html" data-component="text">
            <ul>
                <li>Below, you find a selection of our recommended movies for you. </li>
                <li><p>Please let us know if you like them. </p>
            <li>Select one single movie that you want to see next.</li>
            <br>
                 <li>If there are more interesting movies for you, you can add them to your watchlist.</li>
            </ul>
          </div>
        </div>
      </li>
      </div>
<font face="Lato">
     <div class="form-header-group" style="align-content: center">
         <table>
         <tr>
             <td><h3>You liked</h3></td>
         </tr>
         </table>
     </font>
<br>
         <table class="form-matrix-table-liked">
                    <tbody>
                     <tr class="form-matrix-row-headers-liked" width="200">
                            {% for n in user_pref %}
                                <td><img src="{{ n.cover_link }}" height="200" width="150"> </td>
                    {% endfor %}
                     </tr>
                        <tr class="form-matrix-row-headers-liked" width="400">
                            {% for n in user_pref %}
                                <td>  <label> <h4 style="text-align: center;">{{ n.title }} </h4></label></td>
                            {% endfor %}
                        </tr>

                    </tbody>
                </table>

     </div>
      <li class="form-line jf-required" data-type="control_matrix" id="id_20">
        <label class="form-label form-label-top" id="label_20" for="input_20">
          <span class="form-required">
          </span>
        </label>
          <h3 id="header_13" class="form-header" data-component="header">
              Recommended for you
            </h3>
      <br>
      <br>
        <div id="cid_20" class="form-input-wide jf-required">
        <table summary="" cellPadding="4" cellSpacing="0" class="form-matrix-table" data-component="matrix">
        <tbody>
          {% for o in movie %}
              <th scope="row" style="text-align:center" class="form-matrix-row-headers">
              <img src="{{ o.cover_link }}" height="260" width="200" alt="" border="2" align="center" hspace="10" vspace="0">
              </th>
              <td style="text-align:left">
                  <label> <h2 style="text-align: center;">{{ o.title }} </h2></label>
                    <p>{{ o.description }} </p>
                    <p><b>Stars:</b> {{ o.stars }} </p>
                    <p><b>Genre:</b> {{ o.genre }} </p>
                    <p><b>Director:</b> {{ o.writers }} </p>
              </td>
              <td style="text-align:center" class="form-matrix-values">
              <br>
                  <br>
                  <p> <b>Trailer</b> </p>
                  <br>
                  <a target="_blank" rel="noopener noreferrer" href="{{ o.trailer_link }}"><img src=" {{url_for('static', filename='imdb.png')}}" height="80" width="80"></a></td>
              <td>
              <div class="forms">
                <label for="cbk_{{ o.number }}">
                    <span>Add to Watchlist</span>
                    <br>
                    <br>
                    <br>
                    <div class="get_button_center">
                    <label class="container">
                          <input type="checkbox" id="cbk_{{ o.number }}" value="{{ o.title }}" name="q_Watchlist" style="vertical-align: middle">
                        <span class="checkmark"></span>
                    </label>

                        </div>
                    </span>
                </label>
              </div>
              </td>
                            <td width="150" >
                      <div class="forms">
                                <label for="input_20_1_{{ o.title }}">
                                <span>Pick as Next Movie to Watch</span>
                    <br>
                    <br>
                    <br>
                      <label class="container">
                          <input type="radio" value="{{ o.title }}" name="q23_bestRecommended" id="input_20_1_{{ o.title }}">
                        <span class="checkmark"></span>
                     </label>
                                </div>
                      </div>
              </li>
            </tr>
          {% endfor %}
        </tbody>
        </table>

      <li id="cid_15" class="form-input-wide" data-type="control_pagebreak">
        <div class="form-pagebreak" data-component="pagebreak">
          <div class="form-pagebreak-next-container">
             <button class="Start">
              Next
             </button>
          </div>
          <div style="clear:both" class="pageInfo form-sub-label" id="pageInfo_15">
          </div>
        </div>
      </li>
    </ul>
  </div>
</fieldset>
</form>
</body>
</html></title>
</head>
</html>