<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html class="supernova"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="alternate" type="application/json+oembed" href="https://www.jotform.com/oembed/?format=json&amp;url=http%3A%2F%2Fwww.jotform.com%2Fform%2F200006188570347" title="oEmbed Form"><link rel="alternate" type="text/xml+oembed" href="https://www.jotform.com/oembed/?format=xml&amp;url=http%3A%2F%2Fwww.jotform.com%2Fform%2F200006188570347" title="oEmbed Form">
<meta property="og:title" content="MovieSurvey" >
<meta property="og:url" content="https://form.jotform.com/200006188570347" >
<meta property="og:description" content="Please click the link to complete this form.">
<meta name="slack-app-id" content="AHNMASS8M">
<link rel="shortcut icon" href="https://cdn.jotfor.ms/favicon.ico">
<link rel="canonical" href="https://form.jotform.com/200006188570347" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1" />
<meta name="HandheldFriendly" content="true" />
<title>MovieSurvey</title>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='formCSS.css') }}" />
<link type="text/css" media="print" rel="stylesheet" href="{{ url_for('static', filename='printForm.css') }}" />
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='nova.css') }}" />
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='form.css') }}"/>
<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='poll_style.css') }}" />
<style>
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
</style>
<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/buttons/form-submit-button-simple_grey.css?3.3.14737"/>
</head>
<body>
      <input type="hidden" name="formID" value="200006188570347" />
  <input type="hidden" id="JWTContainer" value="" />
  <input type="hidden" id="cardinalOrderNumber" value="" />
  <div role="main" class="form-all">
      <li id="cid_13" class="form-input-wide" data-type="control_head">
        <div class="form-header-group ">
          <div class="header-text httal htvam">
            <h2 id="header_13" class="form-header" data-component="header">
              Explore new movies
            </h2>
              <h2 class="second-header">With the help of recommender systems
              </h2>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_text" id="id_14">
        <div id="cid_14" class="form-input-wide" style="alignment: center">
          <div id="text_14" class="form-html" data-component="text">
              <table>
                  <tr style="alignment: center"><td><img src="/static/tv_broadcast.jpg" width="300" height="440"></td></tr>
              </table>

              <p>Participate in this user study and help us to build better recommendation systems.
                    <p>We ask you to do the following:</p>
            <ul>
            <li>You are shown a list of 50 movies. Tell us which movies you like. </li>
                <p></p>
                <li>At the next page you get our list of recommended movies for you.</li>
                 <li>We ask you to select one single movie that you want to see next.</li>
                <p></p>
                <li>After having selected one movie, we will ask you a few questions.</li>
                <li>If there are more movies that you find interesting and would like to watch in the future, you can add them to your wishlist.</li>
                <p></p> <li>We will additionally ask you a few questions about your general tastes afterwards and how you experienced the study </li>
            <li>At the end of the study you get your Mechanical Turk Code </li>
            </ul>
              <p>One remark before you begin:
                <br>
              <p style="font-style: italic"> This is an academic study without any risks. We do not collect any personal information. See the terms and conditions for exact details.

              <br>
              Contact me (Christian Schuschnig) in case of questions: chschusc[@]edu.aau.at

              <p>By clicking <b>Start</b>, you agree to our <a href="conditions.html" target="_blank" rel="noopener noreferrer">terms and conditions</a></p>
          </div>
        </div>
      </li>
      <li id="cid_12" class="form-input-wide" data-type="control_pagebreak">
        <div class="form-pagebreak" data-component="pagebreak">
          <div class="form-pagebreak-next-container">
            <a href="pref_movies.html"> <button class="Start">
              Start
            </button></a>
          </div>
          <div style="clear:both" class="pageInfo form-sub-label" id="pageInfo_12">
          </div>
        </div>
      </li>
    </ul>
</div>
</body>
</html>